dspy_ai==2.4.9
wikipedia==1.4.0
sentence-transformers
toml
langchain-text-splitters
trafilatura
langchain-huggingface
qdrant-client
langchain-qdrant
numpy==1.26.4
grpcio-tools<1.60.0
protobuf<5.0,>=3.20
selenium==4.15.2 
webdriver-manager==4.0.1
jupyter
duckduckgo_search
knowledge-storm
pdfminer.six